h1, h2 {
  font-family: Lato;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

body {
  padding-top: 10px;
}
[class*="col-"], footer {
  background-color: rgb(223, 221, 233);
  border: 0px solid black;
  border-radius: 1px;
  text-align: center;
  height: 800px;
}